<!DOCTYPE html>
<%- include('../partial/head') %>

  <body>
    <%- include('../partial/header', {req:req}) %>
    <div class="main container-fluid mt-2">
        <div class="row justify-content-center">
            <div class="col-6 px-5">
                <div class="row justify-content-center mb-2">
                    <div class="col-11 offset-1">
                        <%- include('../partial/navbar', {subscribes:subscribes}) %> 
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <% if (req.session.isLogin) { %>
                            <div class="collapse" id="newPostCollapse">
                                <%- include('../partial/newPost', {req:req, categories:categories}) %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="row justify-content-center">
                        <%  if (posts.length> 0) {
                            let counter = 1
                            posts.forEach((post)=> {%>    
                        <%- include('../partial/showPost', {post:post, req:req}) %>
                        <%      counter++
                            })
                            }
                        %>
                </div>
            </div>
            <div class="col-2 ps-2 mt-3">
                <div class="row justify-content-between mb-2 align-items-center">
                    <div class="h3 col-6"><%= categoryInfo.category %></div>
                    <a href="<%= (req.session.isLogin) ? '/crud/category/' + categoryInfo.category : 'login' %>" class="col-6 w-auto <%= (!subscribes.find(subs => subs.category === categoryInfo.category)) ? 'btn btn-success' : '' %>"><%= (!subscribes.find(subs => subs.category === categoryInfo.category)) ? 'S' : 'Uns' %>ubscribe</a>
                </div>
                <ul class="row list-group">
                    <li class="list-group-item">Category: <%= categoryInfo.category %></li>
                    <li class="list-group-item">Reputation: <%= categoryInfo.reputation %></li>
                  </ul>
            </div>
        </div>
    </div>

<%- include('../partial/footer') %>   
</body>

</html>