<!DOCTYPE html>
<%- include('../partial/head') %>

  <body>
    <%- include('../partial/header', {req:req}) %>
    <div class="main container-fluid mt-2">
        <div class="row">
            <%- include('../partial/leftbar', {subscribes:subscribes}) %> 
            <div class="col-8 px-5">
                <div class="d-flex p-2 justify-content-between">
                    <p class="ps-5 mt-2 mx-2 h5"><%= categoryInfo.category %></p>
                </div>

                <%- include('../partial/newPost', {req:req}) %>

                <div class="row row-cols-1 g-3">
                    <%  if (posts.length> 0) {
                        let counter = 1
                        posts.forEach((post)=> {%>    
                    <%- include('../partial/showPost', {post:post, req:req}) %>
                    <%      counter++
                        })
                        }
                    %>
                </div>
            </div>

            <!-- User info bar-->
            <div class="col-3 px-5 mt-5 pt-5">
              <ul class="list-group">
                <li class="list-group-item">Category: <%= categoryInfo.category %></li>
                <li class="list-group-item">Reputation: <%= categoryInfo.reputation %></li>
              </ul>
            </div>

        </div>
    </div>

    

    
    
<%- include('../partial/footer') %>   
</body>

</html>