<!DOCTYPE html>
<html lang="en">
    <%- include('../partial/header') %>

    <body>
        <header>
            <!--Icon Section-->
            <a class="Top-icon" href="/">
                <img src="public/images/reddit.png" alt="icon" width="60" height="60">
            </a>
        </header>
        <div>
            <div>
                <% var postId; %>
                    <% var username; %>
                        <% posts.forEach(function(p) { %>
                            <h1>
                                <%= username=p.username %> 's Post
                            </h1>
                            <% postId=p.postId; %>
                                <form method="post" action="/editPost/updatePost/:<%=postId%>/:<%=username%>">
                                    <div>
                                        <input type="text" name="header" value="<%=p.header%>" size="50">
                                    </div>
                                    <div>
                                        <label for="l_contents">contents:</label><br>
                                        <textarea id="content" name="content" rows="10"
                                            cols="80"><%=p.contents%></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" value="Update">
                                    </div>
                                </form>
                                <% }); %>
            </div>
            <%-include('../partial/footer')-%>
    </body>

</html>