<!DOCTYPE html>
<html lang="en">
<%- include('../partial/header') %>

<body>
    <header class="header">
        <div class="Top Navigation">
            <div class="Top-container">
                <!--Icon Section-->
                <a class="Top-icon" href="/">
                    <img src="public/images/reddit.png" alt="icon" width="60" height="60">
                </a>

                <!--SearchBox Section-->
                <div class="Top-search">
                    <form action="/search" method="get">
                        <select name="selectPicker" class="round">
                            <option value="">Select Option</option>
                            <option value="username">username</option>
                            <option value="header">header</option>
                            <option value="contents">contents</option>
                        </select>
                        <input type="text" name="search_content" placeholder="Search..." size="40" class="round">
                        <input type="submit" name="search_button" value="Search" class="go"
                            style="text-align: center;">
                    </form>
                </div>

                <!--Logion Section-->
                <div class="Top-login">
                    <form action="/login" , method="post">
                        <button class="login" style="float:right">Login</button>
                    </form>
                    <form action="/signup" , method="post">
                        <button class="signup" style="float:right">Sign Up</button>
                    </form>
                </div>

            </div>
        </div>
    </header>

    <section>
        <% if (posts.length> 0) {%>
        <% posts.forEach((p)=> { %>
        <% postId=p.postId%>
            <div class="Content">
                <div class="subforum">
                    <div class="subforum-title">
                        <h2>
                            <%= p.header %>
                        </h2>
                    </div>
                    <div class="subforum-row">
                        <div class="subforum-icon subforum-column center">
                            <i class="fa fa-car center"></i>
                        </div>
                        <div class="subforum-description subforum-column">
                            <p>
                                <%= p.contents %>
                            </p>
                        </div>
                        <div class="subforum-info subforum-column">
                            <b>Last post</b> by <%=p.username%>
                            <br>on <small>
                                    <%=p.created_at%>
                                </small>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
    
        <% }) %>
        <% } %>
    </section>
    
<%- include('../partial/footer') %>   
</body>

</html>