<!DOCTYPE html>
<%- include('../partial/head') %>

  <body>
    <%- include('../partial/header', {req:req}) %>
    <div class="main container-fluid mt-2">
        <div class="row justify-content-center">
            <div class="col-6 px-5">
                <div class="row justify-content-center mb-2">
                    <div class="col-11 offset-1">
                        <%- include('../partial/navbar', {subscribes:subscribes}) %> 
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <% if (req.session.isLogin) { %>
                            <div class="collapse" id="newPostCollapse">
                                <%- include('../partial/newPost', {req:req, categories:categories}) %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="row justify-content-center">
                        <%  if (posts.length> 0) {
                            let counter = 1
                            posts.forEach((post)=> {%>    
                        <%- include('../partial/showPost', {post:post, req:req}) %>
                        <%      counter++
                            })
                            }
                        %>
                </div>
            </div>

            <!-- User info bar-->
            <div class="col-3 px-5 mt-5 pt-5">
              <ul class="list-group">
                <li class="list-group-item">Username: <%= userInfo.username %></li>
                <li class="list-group-item">Join date: <%= userInfo.created_at %></li>
                <li class="list-group-item">e-mail: <%= userInfo.email %></li>
                <li class="list-group-item">Reputation: <%= userInfo.reputation %></li>
                <li class="list-group-item">Admin: <% if(userInfo.is_admin == 0) {%>
                    <span>No</span>
                <%} else { %>
                    <span>Yes</span>
                <%;} %></li>
              </ul>
            </div>
        </div>
    </div>

<%- include('../partial/footer') %>   
</body>

</html>
