<!DOCTYPE html>
<%-include('../partial/header')-%>
<body>
    
  <div>      
    <form action="/user/signout" method="get" style="float:right">
        <input type="submit" value="Sign out"/>
    </form>  
  </div>
  <div>    
      <% var username; %>
      <% var postId; %>
      <% userInfo.forEach(function(f) { %>
        <h1><%= username = f.username %> 's Main page</h1>
      <% }); %> 
  </div>
  <div>
    <form method="post" action="/user/postPage/:<%=username%>">    
      <div>
          <input type="text" name="header" placeholder="header..."> 
      </div>
      <div>
          <label for="l_contents">contents:</label><br>
          <textarea id="content" name="content" rows="10" cols="80"></textarea>
      </div>      
      <div>
          <input type="submit" value="Post">
      </div>                                                              
    </form>
  </div>
  <br><hr><br>
  <% if (posts.length > 0) {%>
    <%let counter = 1%>    
    <% posts.forEach((p) => { %>        
      <% postId = p.postId%>
      <div class="Content">
        <div class="subforum">                            
          <div class="subforum-title">
            <h2><%= p.header %></h2>
          </div>
          <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fa fa-car center"></i>
            </div>
            <div class="subforum-description subforum-column">                
                <p><%= p.contents %></p>
            </div>
            <div class="subforum-stats subforum-column center">
                <% countPosts.forEach((c) => {%>
                <span><%=counter%> / <%=c.count%> Posts</a></span>
                <% }); %>
            </div>
            <div class="subforum-info subforum-column">
                <b>Last post</b> by <%=p.username%> 
                <br>on <small><%=p.created_at%></small>                
            </div>
        </div>                   
      </div>
      <form action="/user/delete_post/:<%=postId%>/:<%=username%>" method="post" style="display: inline-block;">        
        <input type="submit" value="Delete Post"/>
      </form>
      <form action="/user/edit_post/:<%=postId%>/:<%=username%>" method="post" style="display: inline-block;">        
        <input type="submit" value="Edit Post"/>
      </form>
      <br><br>
      <%counter++%>
      
    <% }) %>
  <% } %>    
<%-include('../partial/footer')-%>
</body>
</html>