<div class="col-1">
    <div class="list-group list-group-flush">
        <a href="/" class="list-group-item <%= (subscribes.current == '/') ? 'active' : ''%>"><b>Home</b></a>
        <%  subscribes.forEach((subs)=> { %>
                <a href="/category/<%= subs.category %>" class="list-group-item list-group-item-secondary <%= (subscribes.current == subs.category) ? 'active' : ''%>"><%= subs.category %></a>
        <%  }) %>
        <%  if (!subscribes.find(subs => subs.category === subscribes.current) && subscribes.current != '/') {%>
                <a href="/category/<%= subscribes.current %>" class="list-group-item list-group-item-secondary active"><%= subscribes.current %></a>
        <%  } %>
    </div>
</div>