<div style="border:1px solid black;">
    <div>
      <h2><%= post.header %></h2>
      <div>
        <p><%= post.contents %></p>
      </div>
        <br><small> Posted by <%=post.username%> on <%=post.created_at%></small>
    </div>
    <% if (req.session.isLogin && (req.session.user == post.username || req.session.isAdmin)) {  %>
    <form action="/crud/post/delete/<%=post.post_id%>" method="post" style="display: inline-block;">
      <input type="submit" value="Delete Post" />
    </form>
    <form action="/crud/post/edit/<%=post.post_id%>/" method="post" style="display: inline-block;">
      <input type="submit" value="Edit Post" />
    </form>
    <% } %>
</div>
<br><br>